# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Archivos temporales y de sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configuraciones sensibles
config.local.json
.env
.env.local

# Node
node_modules/
npm-debug.log
